.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  align-items: stretch;
  gap: 24px;

  margin-bottom: 110px;

  @media (max-width: 600px) {
    margin-bottom: 40px;
  }
}
