@use 'variables' as *;

.footer {
  background-color: $color-black;
  padding: 110px 32px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__nav {
    display: flex;
    gap: 16px;

    .column {
      width: 314px;

      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    margin-bottom: 16px;
    text-decoration: none;
    color: $color-white;
  }
  
  &__link.title {
    color: $color-dark;
  }

  &__copy {
    font-size: 12px;
    color: $color-dark1;
  }
}