@use 'variables' as *;

.footer {
  height: 390px;

  display: flex;
  align-items: center;

  background-color: $color-black;
  padding: 0px 32px;

  @media (max-width: 600px) {
    height: 100%;
    
    flex-direction: column;

    padding: 60px 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__nav {
    display: flex;
    gap: 16px;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .column {
      width: 314px;

      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    margin-bottom: 16px;
    text-decoration: none;
    color: $color-white;
  }

  &__link.title {
    color: $color-dark;
  }

  &__copy {
    font-size: 12px;
    color: $color-dark1;
  }
}
