
@use 'variables' as *;

.header {
  padding: 16px 32px;

  background-color: $color-white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 42px;
    width: 42px;

    background-color: $color-red;
  }

  &__nav {
    display: flex;
    gap: 16px;
  }

  &__link {
    text-decoration: none;
    color: $color-dark;
  }

  &__burger {
    display: none;
  }

  @media (max-width: 768px) {
    &__nav {
      display: none;
    }

    &__burger {
      height: 40px;
      width: 40px;
      
      display: block;
    }
  }
}
