@use 'variables' as *;

.header {
  padding: 16px 32px;

  background-color: $color-white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 42px;
    width: 42px;

    background-color: $color-red;
  }

  .header-nav-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .header__nav {
      display: flex;
      gap: 16px;

      padding: 10px 24px;

      background-color: $color-gray;

      .header__link {
        font-size: 14px;

        margin-right: 40px;

        text-decoration: none;
        color: $color-dark;
      }

      .header__link:last-child {
        margin-right: 0;
      }
    }
  }

  &__burger {
    display: none;
  }

  @media (max-width: 768px) {
    .header-nav-wrapper {
      .header__nav {
        display: none;
      }
    }

    &__burger {
      height: 40px;
      width: 40px;
      
      display: block;
    }
  }
}
