@use 'variables' as *;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);

  &__container {
    text-align: center;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &__button {
    display: inline-block;
    padding: 12px 24px;
    background-color: $color-dark;
    color: $color-white;
    text-decoration: none;
    border-radius: 4px;
  }
}