@use 'variables' as *;

.catalog {
  width: 100%;

  padding: 0 60px;

  .catalog__title {
    font-size: 40px;
    line-height: 110%;

    margin: 100px 0;

    color: $color-black;
    text-transform: uppercase;
    text-align: center;
  }

  .catalog__controls {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .catalog__more {
      font-size: 14px;
      font-family: 'GolosText';
      line-height: 20px;

      margin: 110px 0;

      height: 40px;
      width: 144px;
    }
  }
}
