@font-face {
  font-family: 'GolosText';
  src: url('@/assets/fonts/GolosText/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosTextMedium';
  src: url('@/assets/fonts/GolosText/GolosText-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color-gray: #f5f5f5;
$color-dark: #333;
$color-dark1: #666;
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;
$color-black: #000;